<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567381254436-1mi5rsbhrhfe3lhf7if2nhqmf6fnuf22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567381254436-1mi5rsbhrhfe3lhf7if2nhqmf6fnuf22</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567381254436-b0cqltfecu40o0skrmiq77iiqp2h9njl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu85uy6E4i5gadvhMuO3Pmz4X07isp3Wk</string>
	<key>GCM_SENDER_ID</key>
	<string>567381254436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbant12.LupodyMobile</string>
	<key>PROJECT_ID</key>
	<string>pocketprotect-cc462</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketprotect-cc462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567381254436:ios:e54d1810eef199f60393b1</string>
</dict>
</plist>