/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/assistant/assistant.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.assistant-layout-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 100px;
}

.assistant-layout-main-active{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 250px;
}





.sidebar.active{
    width: 250px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.sidebar{
    width: 100px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: rgb(25, 25, 25);
    box-shadow:0px 0px 5px 1px black;
    position: fixed;
}



.dashboard_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center; 
    background: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: 0px;
}

.board_welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 185, 255);
    padding: 30px;

}

.board_welcome div{
    margin-left: 50px;
}

.board_welcome h3{
    font-size: 35px;
}

.board_icon_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 30px;
}

.services-row{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.service-box{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    transition: ease-in-out 0.3s;
}

.service-box:hover{
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.service-box-title{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.service-box h6{
    font-size: 15px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 1rem;
}

.service-box-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    width: 150px;
    margin-top: 1rem;
}

.service-box-btn:hover{
    transform: scale(0.9);
}

.service-box:hover .service-box-btn{
    background-color: white;
    border: 1px solid #000000;
    color: black;
}

.home-services{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.services-title{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.services-title h6{
    font-size: 17px;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: -10px;
}

.openBtn{
    width:100%;
    background: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-radius: 5px;
}

.openBtn:hover{
    width:100%;
    background: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    cursor: pointer;
}

.back_icon{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 100px;
    border-radius: 10px;
    margin:10px
}

.back_icon:hover{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7a7f1;
    width: 100px;
    border-radius: 10px;
    margin:10px;
    cursor: pointer;
}

.back_icon h5{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 15px;
}

.back_icon:hover h5{
    color: black;
}

.bubble{
    padding: 5px;
    background: transparent;
    border-radius: 100px;
    margin: 8px;
    cursor: pointer;
}

.bubble:hover{
    padding: 10px;
    background: rgb(242, 242, 242);
    border-radius: 100px;
    margin: 10px;
    cursor: pointer;
}

.bubble.active h4{
    color: white;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    padding: 5px 10px;
    
}


.bubble h4{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
    padding: 5px 10px;
    
}

.bubble.active{
    padding: 10px;
    background: black;
    border-radius: 100px;
}

.tool-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border:1px solid magenta;
    margin-top: 20px;
}

.tool-btn:hover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 148, 243);
    border-radius: 10px;
    border:3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.image-edit:hover{
    cursor:cell;
}

.element {
    pointer-events: none;
    border-width: 8px;
    border-color: #5a67d8; /* This is the approximate hex code for indigo-500 */
    border-style: solid;
    width: 350px; /* Equivalent to w-32 */
    height: 350px; /* Equivalent to h-32 */
    z-index: 10;
    background-color: #edf2f7; /* This is the approximate hex code for bg-gray-200 */
    -webkit-user-drag: auto;
    cursor: grab;
  }

  .zoomerBox{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    margin: 10px;
    cursor: grab;
    transition: transform 0.1s ease;
  }
  
  @media (min-width: 768px) {
    .element {
    }
  }

  .cursor-element {
    position: absolute;
    pointer-events: none;
    border-width: 1px; /* Assuming you want a 1px border as in border-sky-500 */
    border-color: #ff0000; /* This is the approximate hex code for border-sky-500 */
    border-style: solid;
    
  }

.image-editor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.editor-stage{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    justify-content: center;
    align-items: center;
}



.feedbackRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 40%;
}

.feedbackRow div{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.finishButton{
    position: absolute;
    background: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0px 0px 10px 0px green;
}

.finishButton:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.finishButton:active{
    transform: scale(0.9);
    transition: 0.1s;
}

.markFinished{
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgreen;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px green;
    cursor: pointer;
}

.markFinished:hover{
    transform: scale(0.95);
}

.markFinished:active{
    transform: scale(0.9);
    transition: 0.1s;
}



/*
Responsivemess after 750px for feedbackRow
*/

@media (max-width: 980px) {
    .feedbackRow{
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        min-width: 160px;
        margin-right: -10px;
        height: 90px;
        margin-left: 20px;
        justify-content: space-between;
        overflow: visible;
    }
    .feedbackRow div{
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        overflow: visible;
        align-items: center;
    }
}


